@media (max-width: 768px) {
header #intro
header .topnav,
header nav,
header nav li{
    float: none;
    text-align: center;
    width: 100%;
}

    .row {
        flex-direction: column;
    }
    .column,
    .column12,
    .column1,
    .column3 {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    #intro{
        height: 100%;
        width:100%;
    }
}

@media screen and (max-width: 600px) and (min-width: 320px) {
    .row {
        flex-direction: column;
    }
    #intro,
    .column,
    .column12,
    .column1,
    .column3 {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}