                //COLORS
                $brand-blue: #008DD2;
                $brand-dark: #333333;
                $brand-grey-o: #E1E1E1;
                $brand-white: #FFFFFF;
                $brand-ash: #484848;
                $brand-grey: #4d4d4d;
                * {
                    box-sizing: border-box;
                }

                html,
                body,
                #intro,
                .view {
                    height: 100vh;
                }

                html,
                body,
                div,
                span,
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                p {
                    margin: 0;
                    padding: 0;
                }

                body {
                    line-height: 1;
                }

                h3 {
                    font-family: 'Times New Roman', Times, serif;
                }

                p {
                    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
                }

                ol,
                ul {
                    list-style-type: none;
                }

                a {
                    cursor: pointer;
                    text-decoration: none;
                    outline: 0;
                }

                .container {
                    width: 90%;
                    margin: 0 auto;
                    padding: 50px 0;
                }

                .row {
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-flow: wrap;
                }

                #intro {
                    height: 100%;
                    background-image: url('../../assets/img/colo.jpg');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .overlay {
                    color: $brand-dark;
                    height: 100%;
                    .flex_container {
                        width: 90%;
                        margin: 0 auto;
                        .row {
                            display: -webkit-box;
                            display: -moz-box;
                            display: -ms-flexbox;
                            display: -webkit-flex;
                            display: flex;
                            -webkit-flex-flow: wrap;
                            .column {
                                flex: 0 0 100%;
                            }
                            .box {
                                background: $brand-white;
                                width: 1220px;
                                height: 130px;
                                .list1 {
                                    display: flex;
                                    justify-content: space-between;
                                    h3 {
                                        font-size: 25px;
                                    }
                                    li {
                                        margin-top: 20px;
                                    }
                                    .donate {
                                        display: flex;
                                        justify-content: space-between;
                                        margin-right: 35px;
                                        li+li {
                                            margin-right: 20px;
                                        }
                                        .myButton {
                                            margin-right: 20px;
                                            border: none;
                                            height: 25px;
                                            width: 60px;
                                            background-color: $brand-dark;
                                            border-radius: 3px;
                                            display: inline-block;
                                            cursor: pointer;
                                            color: #ffffff;
                                            font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
                                            font-size: 12px;
                                            font-weight: 400;
                                            text-align: center;
                                        }
                                    }
                                }
                                .light {
                                    width: 93%;
                                    border: none;
                                    height: 2px;
                                    background: $brand-grey-o;
                                }
                                .list2 {
                                    display: flex;
                                    justify-content: space-between;
                                    p {
                                        font-size: 13px;
                                        font-weight: 700;
                                    }
                                    li {
                                        margin-left: 20px;
                                        margin-right: 50px;
                                    }
                                }
                            }
                        }
                    }
                    .columns {
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        margin: 0 auto;
                        padding-top: 50px;
                    }
                    .column {
                        h2,
                        h3 {
                            color: $brand-white;
                        }
                        h2 {
                            font-size: 120px;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                        h3 {
                            font-size: 50px;
                            font-weight: 500;
                        }
                    }
                }

                #attraction {
                    .column {
                        flex: 0 0 25%;
                        padding: 20px;
                    }
                    .box {
                        height: 250px;
                        width: 250px;
                        position: relative;
                        h3,
                        p {
                            line-height: 1.2;
                        }
                        h3 {
                            font-weight: 500;
                            font-size: 40px;
                        }
                        p {
                            margin-top: 30px;
                            font-weight: 200;
                            font-size: 15px;
                            color: grey;
                        }

                        .blue {
                            margin-left: none;
                            background: $brand-blue;
                            height: 5px;
                            border: none;
                            width: 100px;
                        }
                        img {
                            height: 100%;
                            width: 100%;
                        }
                        .bottom-left {
                            position: absolute;
                            bottom: 8px;
                            left: 16px;
                            p{
                                color: $brand-white;
                                font-weight: 700;
                                line-height: none;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }

                #tours {
                    background: #f5f5f5;
                    .column12 {
                        flex: 0 0 100%;
                        text-align: center;
                        h3 {
                            margin-top: 40px;
                            font-weight: 500;
                            font-size: 50px;
                        }
                        p {
                            font-weight: 400;
                            font-size: 22px;
                            color: grey;
                        }
                    }
                    .column {
                        flex: 0 0 calc(100% / 3);
                        padding: 30px;
                    }
                    .box {
                        height: 250px;
                        width: 100%;
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .card__body {
                        h3,
                        p {
                            margin-top: 20px;
                            font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
                            line-height: 1.2;
                        }
                        h3 {
                            font-weight: 700;
                            font-size: 20px;
                        }
                        p {
                            font-weight: 200;
                            font-size: 15px;
                            color: grey;
                        }
                    }
                }

                #farm {
                    .column1 {
                        flex: 0 0 35%;
                        padding: 30px;
                        h3 {
                            font-weight: 500;
                            font-size: 50px;
                        }
                        p {
                            margin-top: 20px;
                            font-weight: 400;
                            font-size: 18px;
                            color: grey;
                        }
                        .blue {
                            margin-left: 0;
                            background: $brand-blue;
                            height: 5px;
                            border: none;
                            width: 100px;
                        }
                    }
                    .column2 {
                        flex: 0 0 65%;
                        padding: 30px;
                        .box {
                            height: 400px;
                            width: 100%;
                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }
                }

                #touch {
                    background: #f5f5f5;
                    .column12 {
                        flex: 0 0 100%;
                        text-align: center;
                        h3 {
                            font-weight: 500;
                            font-size: 70px;
                        }
                        p {
                            margin-top: 20px;
                            font-weight: 400;
                            font-size: 20px;
                            color: grey;
                        }
                        .form-submit {
                            .form-control {
                                margin-top: 30px;
                                padding-left: 20px;
                                height: 50px;
                                width: 550px;
                            }
                        }
                        .myButton {
                            border: none;
                            top: 30px;
                            margin: 0 auto;
                            width: 550px;
                            background-color: $brand-blue;
                            border-radius: 5px;
                            display: inline-block;
                            cursor: pointer;
                            color: #ffffff;
                            font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
                            font-size: 15px;
                            font-weight: 500;
                            padding: 13px 0px;
                            text-decoration: none;
                             :active {
                                position: relative;
                                top: 1px;
                            }
                        }
                    }
                }

                #footer {
                    background: $brand-dark;
                    height: 600px;
                    color: $brand-white;
                    .container {
                        width: 80%;
                        margin: 0 auto;
                        padding: 50px 0;
                    }
                    .column12 {
                        flex: 0 0 100%;
                    }
                    .column12 {
                        flex: 0 0 100%;
                        ul {
                            display: flex;
                            justify-content: space-around;
                        }
                    }
                    .column3 {
                        flex: 0 0 25%;
                        align-items: center;
                        line-height: 2;
                        font-size: 15px;
                    }
                }