* {
  box-sizing: border-box; }

html,
body,
#intro,
.view {
  height: 100vh; }

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

body {
  line-height: 1; }

h3 {
  font-family: 'Times New Roman', Times, serif; }

p {
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif; }

ol,
ul {
  list-style-type: none; }

a {
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
  outline: 0; }

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  padding: 50px 0; }

section {
  padding: 50px 0; }

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: wrap; }

#intro {
  min-height: 800px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../../assets/img/colo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF; }
  #intro .container {
    text-align: center;
    margin-top: 80px; }
    #intro .container h3 {
      font-size: 40px;
      font-weight: 200; }
    #intro .container h2 {
      font-size: 150px;
      font-weight: 700;
      text-transform: uppercase; }
    #intro .container .explore {
      cursor: pointer;
      margin-top: 20px;
      width: 170px;
      background: #008DD2;
      line-height: 50px;
      text-align: center;
      font-weight: bold;
      font-size: 13px;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); }
      #intro .container .explore a {
        color: #FFFFFF; }
    #intro .container .explore:hover {
      background: #007BD2;
      color: #FFFFFF; }
  #intro .image-wrap {
    margin-left: 90px;
    margin-top: 60px; }
    #intro .image-wrap .wrap {
      float: left;
      width: 30%;
      padding: 20px;
      display: table; }
      #intro .image-wrap .wrap img {
        height: 70px;
        width: 100px; }
      #intro .image-wrap .wrap span {
        padding-left: 30px;
        display: table-cell;
        vertical-align: top;
        font-size: 14px; }
      #intro .image-wrap .wrap p {
        display: inline; }

.topnav {
  position: relative;
  margin: auto;
  width: 85%;
  overflow: hidden;
  top: 20px; }

nav {
  background: #FFFFFF;
  min-height: 100px; }
  nav a,
  nav i {
    color: #333333;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif; }
  nav ul {
    margin: 0;
    padding: 0; }
  nav li {
    display: inline-block; }
  nav .list1 {
    padding: 10px; }
    nav .list1 h3 {
      font-size: 25px;
      margin-left: 20px; }
    nav .list1 .donate {
      float: right; }
      nav .list1 .donate li {
        padding: 0 10px 0 10px; }
      nav .list1 .donate a {
        font-size: 12px; }
      nav .list1 .donate .form {
        float: center;
        list-style: none; }
        nav .list1 .donate .form input[type="text"] {
          padding: 4px;
          height: 30px; }
      nav .list1 .donate .fa-search,
      nav .list1 .donate .fa-bars {
        font-size: 14px; }
      nav .list1 .donate .myButton {
        cursor: pointer;
        line-height: 25px;
        width: 60px;
        text-align: center;
        font-size: 10px;
        background: #333333;
        border-radius: 5px;
        border: none; }
        nav .list1 .donate .myButton a {
          color: #FFFFFF; }
  nav .light {
    border: none;
    background: #4d4d4d;
    height: 1px;
    width: 95%; }
  nav .list2 {
    margin-top: 12px;
    text-align: center; }
    nav .list2 li {
      font-weight: 700;
      padding: 0 30px 0 30px;
      font-size: 14px; }

#attraction {
  margin-top: 20px; }
  #attraction .box {
    float: left;
    width: 230px;
    margin-left: 50px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    #attraction .box h3,
    #attraction .box p {
      line-height: 1.2; }
    #attraction .box h3 {
      font-weight: 500;
      font-size: 40px; }
    #attraction .box p {
      margin-top: 30px;
      font-weight: 200;
      font-size: 15px;
      color: grey; }
    #attraction .box .blue {
      margin-left: 1px;
      background: #008DD2;
      height: 5px;
      border: none;
      width: 100px; }
    #attraction .box .text-wrapper {
      position: relative;
      top: 50%; }
      #attraction .box .text-wrapper p {
        color: #FFFFFF;
        font-weight: 500;
        margin-left: 20px; }
      #attraction .box .text-wrapper a {
        font-weight: 300; }

#tours {
  background: #f5f5f5; }
  #tours .column12 {
    flex: 0 0 100%;
    text-align: center; }
    #tours .column12 h3 {
      margin-top: 40px;
      font-weight: 500;
      font-size: 50px; }
    #tours .column12 p {
      font-weight: 400;
      font-size: 22px;
      color: grey; }
  #tours .column {
    flex: 0 0 calc(100% / 3);
    padding: 30px; }
  #tours .box {
    height: 250px;
    width: 100%; }
    #tours .box img {
      height: 100%;
      width: 100%; }
  #tours .card__body h3,
  #tours .card__body p {
    margin-top: 20px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.2; }
  #tours .card__body h3 {
    font-weight: 700;
    font-size: 20px; }
  #tours .card__body p {
    font-weight: 200;
    font-size: 15px;
    color: grey; }

#farm .column1 {
  flex: 0 0 35%;
  padding: 30px; }
  #farm .column1 h3 {
    font-weight: 500;
    font-size: 50px; }
  #farm .column1 p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    color: grey; }
  #farm .column1 .blue {
    margin-left: 0;
    background: #008DD2;
    height: 5px;
    border: none;
    width: 100px; }

#farm .column2 {
  flex: 0 0 65%;
  padding: 30px; }
  #farm .column2 .box {
    height: 400px;
    width: 100%; }
    #farm .column2 .box img {
      height: 100%;
      width: 100%; }

#touch {
  background: #f5f5f5; }
  #touch .column12 {
    flex: 0 0 100%;
    text-align: center; }
    #touch .column12 h3 {
      font-weight: 500;
      font-size: 70px; }
    #touch .column12 p {
      margin-top: 20px;
      font-weight: 400;
      font-size: 20px;
      color: grey; }
    #touch .column12 form {
      margin-top: 20px; }
    #touch .column12 input[type="email"] {
      padding: 4px;
      height: 50px;
      width: 500px; }
    #touch .column12 .myButton {
      margin-top: 10px;
      height: 40px;
      width: 500px;
      background: #008DD2;
      border: 0;
      padding-left: 20px;
      padding-right: 20px;
      color: #FFFFFF; }

#footer {
  background: #333333;
  height: 600px;
  color: #FFFFFF; }
  #footer .container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0; }
  #footer .column12 {
    flex: 0 0 100%; }
  #footer .column12 {
    flex: 0 0 100%; }
    #footer .column12 ul {
      display: flex;
      justify-content: space-around; }
  #footer .column3 {
    flex: 0 0 25%;
    align-items: center;
    line-height: 2;
    font-size: 15px; }

@media (max-width: 768px) {
  header #intro
header .topnav,
  header nav,
  header nav li {
    float: none;
    text-align: center;
    width: 100%; }
  .row {
    flex-direction: column; }
  .column,
  .column12,
  .column1,
  .column3 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%; }
  #intro {
    height: 100%;
    width: 100%; } }

@media screen and (max-width: 600px) and (min-width: 320px) {
  .row {
    flex-direction: column; }
  #intro,
  .column,
  .column12,
  .column1,
  .column3 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%; } }
