* {
  box-sizing: border-box; }

html,
body,
#intro,
.view {
  height: 100vh; }

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

body {
  line-height: 1; }

h3 {
  font-family: 'Times New Roman', Times, serif; }

p {
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif; }

ol,
ul {
  list-style: none; }

a {
  cursor: pointer;
  text-decoration: none;
  outline: 0; }

#intro {
  height: 100%;
  background-image: url("../../assets/img/colo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.overlay {
  background: rgba(21, 21, 21, 0.672);
  color: #333333;
  height: 100%; }
  .overlay .columns {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 250px; }
  .overlay .column h2,
  .overlay .column h3 {
    color: #FFFFFF; }
  .overlay .column h2 {
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase; }
  .overlay .column h3 {
    font-size: 50px;
    font-weight: 500; }

.container {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0; }

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: wrap; }

.attraction .column {
  flex: 0 0 25%;
  padding: 20px; }

.attraction .box {
  height: 250px;
  width: 250px; }
  .attraction .box img {
    height: 100%;
    width: 100%; }

#tours {
  background: #d1d1d1; }
  #tours .column12 {
    flex: 0 0 100%;
    text-align: center; }
  #tours .column {
    flex: 0 0 calc(100% / 3);
    padding: 30px; }
  #tours .box {
    height: 300px;
    width: 100%; }
    #tours .box img {
      height: 100%;
      width: 100%; }

#farm .column1 {
  flex: 0 0 25%;
  padding: 30px; }

#farm .column2 {
  flex: 0 0 75%;
  padding: 30px; }
  #farm .column2 .box {
    height: 400px;
    width: 100%; }
    #farm .column2 .box img {
      height: 100%;
      width: 100%; }

#touch .column12 {
  flex: 0 0 100%;
  text-align: center; }
